.column {
  width: 300px;
  float: right
}
body {font-family: sans-serif;
    background-color: deeppink;
}
.column {border: 2px solid yellow;
         padding: 10px;
         background-color: azure;
         margin-top: 20px;
         margin-bottom: 20px;
         box-sizing: border-box; 
         font-style: italic;
         font-size: 20px;
         color: darkblue;
         width: 50%;
         height: auto 
        }
.top {color: rgb(52, 118, 55);
      border: 4px;
      padding: 10px;
      background-color: beige;
      margin-top: 20px;
      margin-bottom: 10px;
      margin-left: 12px;
      box-sizing: border-box;
      box-shadow: 10px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}  
.size {width:100%;
     height: auto;
     border: 4px;
     background-color: blue;
     border-style: dotted;
}      