.column {
  width: 300px;
  float: right
}
body {font-family: sans-serif;
    background-color: deeppink;
}
.column {font-style: italic;
         font-size: 20px;
         color: darkblue; 
        }
head {color: rgb(16, 52, 18);
}        